###########################################################################
## file
###########################################################################
venv3.12
.DS_Store
__pycache__
config.yaml

###########################################################################
## directory
###########################################################################
dags/
model_output/
